@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=DM+Serif+Display&family=Oswald:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab&family=Young+Serif&display=swap');

.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: 'Playfair Display', serif;

  }
  
  .booking-details {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;


    
  }
  
  .booking-details h1 {
    font-size: 24px;
    color: #333;
    font-family: 'Playfair Display', serif;

  }
  
  .booking-info p {
    margin: 8px 0;
    font-family: 'Playfair Display', serif;

  }
  
  .booking-info span {
    font-weight: bold;
    font-family: 'Playfair Display', serif;

  }
  
  .no-bookings {
    font-size: 50px;
    color: #f8eaea;
    font-family: 'Playfair Display', serif;


  }
  .haha
  {
    font-family: 'Playfair Display', serif;

  }
  
  .place-order-button {
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;

  }
  
  .place-order-button:hover {
    background-color: #0056b3;
  }
  .small-image {
    width: 50px; /* Adjust the width as needed */
    height: auto;
position: relative;
left:150px;  }