.notifications-section {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

.notifications-section p {
    color: white;
    margin-bottom: 20px;
}

.existing-notifications {
    margin-top: 15px;
    color: white;
}

.notification-item {
    background-color: black;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
