@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=DM+Serif+Display&family=Oswald:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab&family=Young+Serif&display=swap");

.favourite-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
    background-color: black;
    opacity: 70%;
}

.favourite-page .title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    padding-bottom: 20px;
}

.favourite-page .dabba-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.favourite-page .dabba-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.favourite-page .dabba-card:hover {
    transform: translateY(-5px);
}

.favourite-page .dabba-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.favourite-page .dabba-details {
    padding: 15px;
}

.favourite-page .dabba-name {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
}

.favourite-page .dabba-location {
    color: white;
    margin-bottom: 5px;
    font-family: "Playfair Display", serif;
}

.favourite-page .dabba-price {
    color: rgb(221, 221, 147);
    font-size: 18px;
    font-family: "Playfair Display", serif;
}
