@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=DM+Serif+Display&family=Oswald:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab&family=Young+Serif&display=swap');

.custom-shadow {
  
   background-color:rgb(32, 30, 30);
   
  }
  .hello{
    margin-right: 20px;
  }
  .hii
  {
    font-family: 'Playfair Display', serif;
      color:burlywood;}