/* DashboardPage.css */

.dashboard-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f5f5f5; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.dashboard-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

/* Profile Info Section */
.profile-info-container {
    /* background-color: #fff; */
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 70%;
}

.profile-info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

/* Notifications Section */
.notifications-container {
    /* background-color: #fff; */
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 70%;
}

.notifications-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

/* Orders Section */
.orders-container {
    /* background-color: #fff; */
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 70%;
}

.orders-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

/* Feedback Section */
.feedback-container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 70%;
}

.feedback-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.feedback-list {
    list-style: none;
    padding: 0;
}

.feedback-item {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.feedback-comment {
    margin: 0;
}

/* Additional styling can be added as needed */
