.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    height: 100%;

    /* background-image: url(../../images/dabbawala11.jpeg);
} */
}
