@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=DM+Serif+Display&family=Oswald:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab&family=Young+Serif&display=swap');

/* Common styles for all screen sizes */
.icon {
  color: black;
}

.form input,
.form textarea {
  padding: 10px 0;
  border-bottom: 2px solid black;
  margin-bottom: 2.2rem;
  transition: border-color 0.3s ease;
  font-family: 'Playfair Display', serif;
}

.form input:focus,
.form textarea:focus {
  border-color: #24416B;
}

.form-control1 {
  outline: 0;
  border: none;
  display: block;
  background-color: transparent;
  width: 100%;
  transition: all 0.3s ease;
}

.form-control1:focus {
  outline: 0;
  border-color: black;
}

.form ::placeholder {
  font-weight: bold;
}

.text {
  font-weight: 700;
  font-size: 1.3rem;
}

.form textarea {
  border: 2px solid black;
  padding: 0.6rem !important;
  margin-bottom: 1rem;
}

.p {
  color: black;
}

.text {
  color: black;
  font-size: smaller;
}

.contact-content {
  margin: 100px auto;
}

.contact-info {
  text-align: center;
  margin: 40px auto;
}

.amisha-container {
  background-color: white;
  padding: 20px;
}

.headerha-title {
  text-align: center;
  color: black;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.contact {
  width: 60%;
  padding: 1rem;
  position: relative;
  left: 300px;
  padding-left: 5rem;
  padding-bottom: 2rem;
  padding-right: 0rem;
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .contact {
    width: 100%;
    padding: 2rem;
    left: 0;
  }

  .headerha-title {
    font-size: 30px;
  }
}
