
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=DM+Serif+Display&family=Oswald:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab&family=Young+Serif&display=swap');



.header-title
{
color:black;
font-family: 'Playfair Display', serif;
padding: 10px;

}
.header{
  padding:0px;
  height:10vh;
}

.icon {
  color: rgb(0, 0, 0);
}

.form input,
.form textarea {
  padding: 10px 0;
  border-bottom: 2px solid black;
  margin-bottom: 2.2rem;
  
  transition: border-color 0.3s ease;
}


.form-control1 {
  outline: 0;
  border: none;
  display: block;
  background-color: transparent;
  width: 100%;
  transition: all 0.3s ease;
}
.contact
{
  background-color: white;
}
.form-control1:focus {
  outline: 0;
  border-color: black;
}

.contact-info {
  text-align: center;
  margin: 40px auto;
}

.text {
  font-weight: 700;
  font-size: 1.3rem;
}

.form textarea {
  border: 2px solid black;
  padding: 0.6rem !important;
  margin-bottom: 1rem;
}

.p
{
color:black;
}

.text{
  color:black;
  font-size: smaller;
}
.contact
{

  width:60%;
  padding-top:3rem;
  position: relative;
  left:300px;
  padding-left:5rem;
 
  padding-bottom: 2rem;
  margin-bottom: 50px;
}